{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Household manager</h1>
        <h3 class="fw-normal text-muted mb-3 contrast-color">An app where Family members can be assigned with chores and manage the family budget.</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a href="https://github.com/adriandrinceanu" target="_blank" class="btn btn-primary my-2">My GitHub</a>
          <a href="{% url 'login' %}" class="btn btn-outline-primary my-2">Login</a>
        </div>
      </div>
      <div class="product-device shadow-sm d-none d-md-block" style="background-image: url('media/images/family2.jpg');"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block" style="background-image: url('media/images/chores2.jpg');"></div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Family manager</h2>
          <p class="lead ">Please login with the provided credentials as a family manager. The password is the same as the username.</p>
                  <input type="text" value="coman_andrei" id="myInput" style="display: none;">
                  <button class="btn btn-secondary" onclick="copyToClipboardTeacher()">Copy credentials &raquo;</button>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('media/images/family1.jpg');"></div>
      </div>
      <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Family member</h2>
          <p class="lead">Please login with the provided credentials as a family member. The password is the same as the username.</p>
                  <input type="text" value="drinceanu_adrian" id="myStudent1" style="display: none;">
                  <button class="btn btn-secondary" onclick="copyToClipboardStudent1()">Copy Student1 &raquo;</button>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('media/images/member2.jpg');"></div>
      </div>
    </div>

  

  

  </main>


<!-- The JavaScript function -->
<script>
    function copyToClipboardTeacher() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
    
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }

    function copyToClipboardStudent1() {
      /* Get the text field */
      var copyText = document.getElementById("myStudent1");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
    
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }

    function copyToClipboardStudent2() {
      /* Get the text field */
      var copyText = document.getElementById("myStudent2");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
    
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }


    function copyToClipboardParent() {
      /* Get the text field */
      var copyText = document.getElementById("myParent");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
    
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }

    </script>

  {% endblock %}



