{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form method="POST" action="" enctype="multipart/form-data">
        
          {% csrf_token %}
          {{ form.errors }}
          {% for field in form %}
              {{field.errors}}
              <div class="form-floating">
                  {{field}}
                  
              <label for="floatingInput">{{ field.label }}</label>
              </div>
          {% endfor %}
          {{ cust_form.errors }}
          {% for field in cust_form %}
              {{ field.errors }}
              <div class="form-floating">
                  {{field}}
              <label for="floatingInput">{{ field.label }}</label>
              </div>
          {% endfor %}
          
         
          <input class="btn btn-primary" type="submit" value="Register Account">
      </form>
      </div>
    </div>
  </div>

{% endblock %}